body{
    text-align: center;
    background-color: #d8dee3;
}
#displayAreaDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
button{
    border-radius: 30px;
    border-width: 1px;
    background-color: blanchedalmond;
}
input{
    background-color: blanchedalmond;
}
img{
    margin: 15px;
    border-radius: 15px;
}